* {
    margin: 0%;
    padding: 0%;
}

body {
    background: black;
    overflow: hidden;
}

body::-webkit-scrollbar {
    background-color: pink;
    width: 5px;
}

body::-webkit-scrollbar-track-piece {
    background-color: rgb(0, 0, 0);
    width: 2px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    width: 2px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    border-radius: 100%;
    width: 2px;
}

body::-webkit-scrollbar-button {
    background-color: rgb(0, 0, 0);
    width: 2px;
}

body::-webkit-scrollbar-corner {
    border-radius: 50%;
    width: 10px;
    height: 100vh;
    width: 2px;
}

.heroCont {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 20px;
    font-size: 1.1vw;
}

nav a {
    color: wheat;
    text-shadow: 0px 0px 10px black;
    text-decoration: none;
}

/*  */
/*  */
/*  */

.caroselAlign1 {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.caroselAlign2 {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 5%;
}

.carousel1 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cart1 {
    width: 500px;
    height: 90%;
    position: absolute;
    top: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 200px;
    border: 2px solid #000d31;
    box-shadow: 0px 0px 2px wheat;
}

.cart1Align {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.cart1 .cart1Align :nth-child(1){
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    width: 70%;
    left: 75px;
}
.cart1 .cart1Align :nth-child(2){
    display: none;
    right: 75px;
}
/*  */
/*  */

/*  */
/*  */
.car3 .cart1Align :nth-child(1) ,
.carr3 .cart1Align :nth-child(1) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    left: 75px;
}
.car3 .cart1Align :nth-child(2) ,
.carr3 .cart1Align :nth-child(2) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    right: 75px;
}
/*  */
/*  */

/*  */
/*  */
.car4 .cart1Align :nth-child(1) ,
.carr4 .cart1Align :nth-child(1) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    left: 75px !important;
}
.car4 .cart1Align :nth-child(2) ,
.carr4 .cart1Align :nth-child(2) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    right: 75px !important;
}
/*  */
/*  */

/*  */
/*  */
.car5 .cart1Align :nth-child(1) ,
.carr5 .cart1Align :nth-child(1) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    left: 75px !important;
}
.car5 .cart1Align :nth-child(2) ,
.carr5 .cart1Align :nth-child(2) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    right: 75px !important;
}
/*  */
/*  */

/*  */
/*  */
.car1 .cart1Align :nth-child(1) ,
.carr1 .cart1Align :nth-child(1) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    left: 75px !important;
}
.car1 .cart1Align :nth-child(2) ,
.carr1 .cart1Align :nth-child(2) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    right: 75px !important;
}
/*  */
/*  */

/*  */
/*  */
.car2 .cart1Align :nth-child(1) ,
.carr2 .cart1Align :nth-child(1) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    left: 75px !important;
}
.car2 .cart1Align :nth-child(2) ,
.carr2 .cart1Align :nth-child(2) {
    transition: 1s ease all;
    width: 70%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    right: 75px !important;
}

/* BG COLORS OF SLIDES STARTS HERE */


.cca1 {
    left: 510px;
    background-color: #1a1617;
}

.cca2 {
    left: 0px;
    background-color: #1a1617;
}

.cca3 {
    left: 510px;
    background-color: #1a1617;
}


.cca4 {
    left: 1020px;
    background-color: #1a1617;
}

.cca5 {
    left: 1530px;
    background-color: #1a1617;
}


/* BG COLORS OF SLIDES ENDS HERE*/


/* ANIMATION FORWARD STARTS HERE*/


/* ANIMATION OF CART 1 */


.car1 {
    left: 1530px;
    z-index: 1;
    animation: SHOWCART1 1s linear 1 forwards;
    opacity: 0;
    background-color: #1a1617;
    position: relative;
}

@keyframes SHOWCART1 {
    to {
        left: -510px;
        z-index: 1;
        opacity: 0;
    }
}


/* ANIMATION OF CART 2 */


.car2 {
    animation: SHOWCART2 1s linear 1 forwards;
    left: -510px;
    background-color: #1a1617;
}

@keyframes SHOWCART2 {
    to {
        left: 0px;
        z-index: 2;
    }
}

/* ANIMATION OF CART 3 */

.car3 {
    left: 90px;
    animation: SHOWCART3 1s linear 1 forwards;
    position: fixed;
    height: 81vh;
    top: 9.5vh;
    background: linear-gradient(to top, #1a1617 50%, #1a1617 100%);

}

@keyframes SHOWCART3 {
    to {
        left: 595px;
        z-index: 10;
        position: fixed;
        height: 81vh;
        top: 9.5vh;
    }
}

/* ANIMATION OF CART 4 */


.car4 {
    left: 510px;
    animation: SHOWCART4 1s linear 1 forwards;
    background-color: #1a1617;
}

@keyframes SHOWCART4 {
    to {
        left: 1020px;
        z-index: 2;
    }
}

/* ANIMATION OF CART 5 */


.car5 {
    left: 1020px;
    animation: SHOWCART5 1s linear 1 forwards;
    background-color: #1a1617;

}

@keyframes SHOWCART5 {
    to {
        left: 1530px;
    }
}


/* ANIMATION FORWARD ENDS HERE*/



/* ANIMATION BACKWARDS STARTS HERE */


/* ANIMATION OF CART 1 */

.carr1 {
    left: 0px;
    animation: SHOWCARTT1 1s linear 1 forwards;
    background-color: #1a1617;
    z-index: 5;
}

@keyframes SHOWCARTT1 {
    to {
        left: -510px;
    }
}

/* ANIMATION OF CART 2 */

.carr2 {
    left: 510px;
    animation: SHOWCARTT2 1s linear 1 forwards;
    background-color: #1a1617;
    z-index: 4;
}

@keyframes SHOWCARTT2 {
    to {
        left: 0px;
    }
}

/* ANIMATION OF CART 3 */

.carr3 {
    left: 1100px;
    animation: SHOWCARTT3 1s linear 1 forwards;
    background: linear-gradient(to top, #1a1617 50%, #1a1617 100%);
    transition: background 0.3s ease;
    z-index: 3;
    position: fixed;
    height: 81vh;
    top: 9.5%;
}

@keyframes SHOWCARTT3 {
    to {
        left: 595px;
        position: fixed;
        z-index: 10;

    }
}

/* ANIMATION OF CART 4 */

.carr4 {
    left: 1530px;
    animation: SHOWCARTT4 1s linear 1 forwards;
    background-color: #1a1617;
    z-index: 2;
}

@keyframes SHOWCARTT4 {
    to {
        left: 1020px;
    }
}

/* ANIMATION OF CART 5 */

.carr5 {
    left: -510px;
    animation: SHOWCARTT5 1s linear 1 forwards;
    background-color: #1a1617;
    opacity: 0;
}

@keyframes SHOWCARTT5 {
    to {
        opacity: 0;
        left: 1530px;
        z-index: 0;
    }
}

/* ANIMATION BACKWARDS ENDS HERE */

/* BUTTONS */

#NEXT {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    top: calc(90% - 25px);
    z-index: 10;
    left: 10px;

}

#PREV {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    top: calc(90% - 25px);
    z-index: 10;
    right: 10px;
}

.LeftRound {
    width: 5%;
    border-radius: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 3%;
    z-index: 5;
    border: none;
    filter: blur(10px);
}

.RightRound {
    width: 5%;
    border-radius: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    right: 3%;
    z-index: 5;
    border: none;
    filter: blur(10px);
}


/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */
/* movement of carocel 2  */


.ca1 {
    left: calc(-100% - 10px);
    background-color: rgb(71, 13, 86);
    width: 100%;
}

.ca2 {
    left: calc(0% + 10px);
    background-color: maroon;
    width: 100%;
}

.ca3 {
    left: calc(100% + 20px);
    background-color: yellow;
    width: 100%;
}

.ca4 {
    left: calc(200% + 30px);
    background-color: green;
    width: 100%;
}

.ca5 {
    left: calc(300% + 40px);
    background-color: pink;
    width: 100%;
}

/* BG COLORS OF SLIDES ENDS HERE*/


/* ANIMATION FORWARD STARTS HERE*/


/* ANIMATION OF CART 1 */


.car22 {
    left: -100%;
    z-index: 1;
    animation: SHOWCART22 1s linear 1 forwards;
    opacity: 1;
}

@keyframes SHOWCART22 {
    to {
        left: calc(0% + 0px);
        z-index: 2;
    }
}


/* ANIMATION OF CART 2 */


.car23 {
    animation: SHOWCART23 1s linear 1 forwards;
    left: calc(0% + 0px);
}

@keyframes SHOWCART23 {
    to {
        left: calc(100% + 10px);
        z-index: 2;
    }
}

/* ANIMATION OF CART 3 */

.car24 {
    left: calc(100% + 10px);
    animation: SHOWCART24 1s linear 1 forwards;

}

@keyframes SHOWCART24 {
    to {
        left: calc(200% + 20px);
        z-index: 2;
    }
}

/* ANIMATION OF CART 4 */


.car25 {
    left: calc(200% + 20px);
    animation: SHOWCART25 1s linear 1 forwards;
}

@keyframes SHOWCART25 {
    to {
        left: calc(300% + 30px);
        z-index: 2;
    }
}

/* ANIMATION OF CART 5 */


.car21 {
    left: calc(300% + 30px);
    animation: SHOWCART21 1s linear 1 forwards;
    opacity: 0;
}

@keyframes SHOWCART21 {
    to {
        left: -100%;
        opacity: 0;
    }
}


/* ANIMATION FORWARD ENDS HERE*/



/* ANIMATION BACKWARDS STARTS HERE */


/* ANIMATION OF CART 1 */

.carr21 {
    left: 0%;
    animation: SHOWCARTT21 1s linear 1 forwards;
    z-index: 5;
}

@keyframes SHOWCARTT21 {
    to {
        left: -100%;
    }
}

/* ANIMATION OF CART 2 */

.carr22 {
    left: 100%;
    animation: SHOWCARTT22 1s linear 1 forwards;
    z-index: 4;
}

@keyframes SHOWCARTT22 {
    to {
        left: 0%;
    }
}

/* ANIMATION OF CART 3 */

.carr23 {
    left: 200%;
    animation: SHOWCARTT23 1s linear 1 forwards;
    z-index: 3;
}

@keyframes SHOWCARTT23 {
    to {
        left: 100%;
    }
}

/* ANIMATION OF CART 4 */

.carr24 {
    left: 300%;
    animation: SHOWCARTT24 1s linear 1 forwards;
    z-index: 2;
}

@keyframes SHOWCARTT24 {
    to {
        left: 200%;
    }
}

/* ANIMATION OF CART 5 */

.carr25 {
    left: -100%;
    animation: SHOWCARTT25 1s linear 1 forwards;
    opacity: 0;
}

@keyframes SHOWCARTT25 {
    to {
        opacity: 0;
        left: 300%;
        z-index: 0;
    }
}

/* CARTS CONTEND */


.cart2 {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 200px;
    /* background-color: #1a1617; */
    box-shadow: 0px 0px 2px wheat;
}



.cart2Item {
    width: 30%;
    height: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
